
.main-content {
    font-size: 40px;
    position: relative;
    left: 395px;
    top: 235px;
    color: #4C4C4C;

}

.main-content span {
    font-size: 80px;
}

.checkcicle {
    width: 150px;
    position: relative;
    top: 200px;
    left: 650px;
}