

#container {
    width: 200px;
    margin: 0 auto;
}

form {
    position: relative;
}

.login-set {
    width: 200px;
    display: flex;
    position: relative;
    top: 115px;
}

legend {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
    color: #3E3E3E;
}

.text-input {
    margin: 20px 0px 20px 0px;
    width: 250px;
    height: 30px;
    border: 0.5px solid #00D8FF;

}

label {
    font-size: large;
    color: #0090B7;
}

.login-button {
    margin: 35px 0px 0px 0px;
    width: 260px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid skyblue;
    border-radius: 5px;
    color: #0090B7;
    cursor: pointer;
}

.login-button:hover {
    background-color: skyblue;
    color: white;
}


.signup-button {
    margin-top: 130px;
    width: 260px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid skyblue;
    border-radius: 5px;
    color: #0090B7;
    cursor: pointer;
}

.signup-button:hover {
    background-color: skyblue;
    color: white;
}





